.signInpage{
    background-color: #2451ba;
 }
 
 .signInpage .background{
     width: 430px;
     height: 520px;
     position: absolute;
     transform: translate(-50%,-50%);
     left: 50%;
     top: 50%;
 }
 .signInpage.background .shape{
     height: 200px;
     width: 200px;
     position: absolute;
     border-radius: 50%;
 }
 .signInpage .shape:first-child{
     background: linear-gradient(
         #0d296b,
         #23a2f6
     );
     left: -80px;
     top: -80px;
 }
 .signInpage.shape:last-child{
     background: linear-gradient(
         to right,
         #ff512f,
         #f09819
     );
     right: -30px;
     bottom: -80px;
 }
 .signInpage form{
     height: 520px;
     width: 400px;
     background-color: rgb(97, 134, 203);
     position: absolute;
     transform: translate(-50%,-50%);
     top: 50%;
     left: 50%;
     border-radius: 10px;
     backdrop-filter: blur(10px);
     border: 2px solid rgba(255,255,255,0.1);
     box-shadow: 0 0 40px rgba(8,7,16,0.6);
     padding: 50px 35px;
 }
 .loginForm{
    background-color: #23a2f6;
 }
 .signInpage form *{
     font-family: 'Poppins',sans-serif;
     color: #000000;
     letter-spacing: 0.5px;
     outline: none;
     border: none;
 }
 form .tag1{
     font-size: 32px;
     font-weight: 500;
     line-height: 42px;
     text-align: center;
     color: #080710;
 }
 
  form .label1{
     display: block;
     margin-top: 30px;
     font-size: 16px;
     font-weight: 500;
 }
  form .input1{
     display: block;
     height: 50px;
     width: 100%;
     background-color: rgba(255,255,255,0.07);
     border-radius: 3px;
     padding: 0 10px;
     margin-top: 8px;
     font-size: 14px;
     font-weight: 300;
 }
 
 
 form .loginButton{
     margin-top: 50px;
     width: 100%;
     background-color: #4e50c3;
     color: #dddddd;
     padding: 15px 0;
     font-size: 18px;
     font-weight: 600;
     border-radius: 5px;
     cursor: pointer;
 }
 .signInpage .social{
   margin-top: 30px;
   display: flex;
 }
 .signInpage .social div{
   background: red;
   width: 150px;
   border-radius: 3px;
   padding: 5px 10px 10px 5px;
   background-color: rgba(255,255,255,0.27);
   color: #eaf0fb;
   text-align: center;
 }
 .signInpage .social div:hover{
   background-color: rgba(145, 5, 5, 0.47);
 }
 .signInpage .social .go{
   margin-left: 105px;
   color: #080710;
   background-color: #f09819;
 }
 .signInpage .social i{
   margin-right: 4px;
 }